<div class="section">
  <div class="content">
    <section id="home">
      <img src="aventure.png" />
    </section>

    <section class="presentation">
      <h2>Projet 1 : Kotlin Aventure</h2>
      <p>Application back-end développée en Kotlin.</p>

      <h2>Présentation</h2>

      <h3>Contexte</h3>
      <p>
        KotlinAventure est une application back-end dans le but de créer jeu de
        rôle d'aventure plongeant les joueurs dans un monde fantastique rempli
        de monstres redoutables, de personnages héroïques et de combats épiques.
        Le jeu se déroule dans un univers médiéval-fantastique où les joueurs
        incarnent un personnage.
      </p>

      <h3>Rôles</h3>

      <p>
        <b>Guerrier:</b> Les guerriers sont des combattants puissants armés. Ils
        sont connus pour leur force brute et leur capacité à infliger des dégâts
        élevés en combat.
      </p>
      <p>
        <b>Voleur:</b> Les voleurs excellent dans l'art de la discrétion et de
        la ruse. Ils sont capables de voler des objets précieux à leurs ennemis
        et de se faufiler dans les ombres pour échapper aux dangers.
      </p>
      <p>
        <b>Mage:</b> Les mages maîtrisent l'art de la magie et peuvent lancer
        des sorts dévastateurs. Ils ont un grimoire rempli de sorts variés,
        chacun ayant un effet unique sur les adversaires.
      </p>

      <h3>Fonctionnalités principales</h3>
      Le jeu comprendra les fonctionnalités suivantes :
      <ul>
        <li>
          <b>Création de votre personnage:</b> Les joueurs peuvent créer leurs
          personnages et ces caractéristiques ( attaque, défense, vitesse,
          endurance)
        </li>
        <li>
          <b>Combat en tour par tour:</b> Les combats contre les monstres se
          déroulent en tours alternés où les joueurs peuvent choisir parmi
          différentes actions telles que l'attaque, l'utilisation de compétences
          spéciales, la consommation de potions, etc.
        </li>
        <li>
          <b>Inventaire:</b> Les personnages peuvent collecter des objets tels
          que des armes, des potions, des armures, etc...
        </li>
        <li>
          <b>Personnalisation:</b> Les joueurs peuvent personnaliser leurs
          personnages en équipant des armes et armures.
        </li>
      </ul>
    </section>

    <section class="diagramme">
      <h2>Diagrammes</h2>
      <h3>Diagramme de classe</h3>
      <img src="diag_classe_aven.png" />
    </section>

    <section class="liens" style="margin-top: 20px">
      <h2>Liens utiles</h2>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1VIW_VPnP1edqHvsUrZ72BVitQ0bMGGjk/edit?tab=t.0"
            >Support Sprint 1</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1UbbJxXYXcdpkLgKAWtRlecctvlH1OwRD/edit?tab=t.0"
            >Documentation des différents items et monstres</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1Iov9vo-xbNlqrMWQIRdjrwTOt1Q0wKD5/edit?tab=t.0#heading=h.gjdgxs"
            >Support Sprint 2</a
          >
        </li>
        <li><a href="KotlinAventure-Sprint_3.pdf">Support Sprint 3</a></li>
      </ul>
    </section>
  </div>
</div>
