<div class="section">
  <div class="content">
    <section id="home">
      <img src="SavApp.jpeg" />
    </section>

    <section class="presentation">
      <h3>Projet 3 : SAP-Front</h3>
      <p>Application cliente développée avec les standards du front.</p>

      <h2>Présentation</h2>

      <h3>Contexte</h3>
      <p>
        Le projet est un partenariat entre l’entreprise Adepro (prestataire pour
        la mise sur le marché des produits cosmétiques) et le lycée Léonard de
        Vinci de Melun.
      </p>

      <ul>
        <li>
          <a href="https://www.adepro-consultant.fr/" target="_blank"
            >Site Adepro</a
          >
        </li>
        <li>
          <a href="https://www.vinci-melun.org/" target="_blank"
            >Site du lycée LDV</a
          >
        </li>
      </ul>

      <p>
        Adepro souhaite créer une application de type simulateur/calculateur qui
        permet aux utilisateurs de saisir une recette de savon et d’obtenir les
        scores sur les différentes caractéristiques du savon (douceur, séchage,
        pouvoir lavant, etc.).
      </p>

      <p style="text-decoration: underline">
        Une recette de savon est constituée de :
      </p>
      <ul>
        <li>
          Un ou plusieurs corps gras (ex : huile d’olive, huile de noix de coco,
          etc.)
        </li>
        <li>Un agent alcalin (soude ou potasse)</li>
        <li>
          Éventuellement des ingrédients supplémentaires (ex : cire d’abeille)
        </li>
      </ul>

      <p style="text-decoration: underline">
        Il y a deux demandes spécifiques :
      </p>
      <ul>
        <li>
          Pour chaque caractéristique du savon en plus d’un simple de score
          ilfaut une « mention » exemple : un savon qui un score de douceur
          entre 4 et 5 est doux un savon entre 1 et 2 est dur …
        </li>
        <li>
          Les caractéristiques du savon doivent être affiché sous la forme
          d’undiagramme Radar
        </li>
      </ul>

      <p>Nous nous intéressons ici à la parti Front-end du projet.</p>
    </section>

    <section class="diagramme">
      <h2>Diagrammes</h2>
      <h3>Arborescence des pages de l'application</h3>
      <img src="arbo_app.png" />
    </section>

    <section class="liens" style="margin-top: 20px">
      <h2>Liens utiles</h2>
      <ul>
        <li>
          <a href="Maquette_app.pdf">Maquette</a>
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1Sr9sKEFzveCJm8N6qYDiLSYRpHlA_g4G/edit?tab=t.0"
            target="_blank"
            >Support Sprint 1</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1rtk-zKjlBuF3um3Wyyqb1fMzYEyhIg2B/edit?tab=t.0"
            target="_blank"
            >Support Sprint 2</a
          >
        </li>

        <li>
          <a href="Implémentation_calculateur_recette.pdf" target="_blank"
            >Implémentation du calculateur recette</a
          >
        </li>
        <li>
          <a href="Implémentation_interface_admin.pdf" target="_blank"
            >Implémentation de l'interface administrateur</a
          >
        </li>
        <li>
          <a href="Formulaires_Angular.pdf" target="_blank"
            >Comment créer un formulaire avec Angular</a
          >
        </li>
        <li>
          <a href="Liaison_données.pdf" target="_blank">Laisons de données</a>
        </li>
      </ul>
    </section>
  </div>
</div>
