#home img {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px; /* Ajuste la hauteur selon tes besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}