<div class="section">
  <div class="content">
    <section id="home">
      <img src="banniere.jpeg" alt="Ma bannière" width="100%" height="auto" />
    </section>

    <section id="about">
      <h2>A propos de moi</h2>
      <p>
        Je suis étudiante depuis 2 ans en
        <B>BTS SIO (Services Informatiques aux organisation)</B>, spécialité
        <B>SLAM (Solutions Logicielles et Applications Métiers)</B> au Lycée
        Sonia Delaunay situé à Melun.
      </p>
      <p>
        J'ai toujours été intéressée par le domaine technologique, l'évolution
        de l'informatique et le résultat de celui ci.
      </p>
      <p>
        Je me suis donc tournée vers cette formation après mon
        <B>BAC Général - Spécialité Maths / LLCE Anglais</B> en 2023.
      </p>

      <h3>- Etudiant en BTS SIO (2023 - 2025)</h3>
      <i>Etudiante de 2e année en BTS SIO - Option SLAM</i>
      <p><B>Ecole:</B> Lycée Leonart de Vinci</p>
      <B>Diplomes:</B>
      <ul>
        <li>Bac Général - Spécialité Maths / LLCE Anglais</li>
        <li>Cambridge B2</li>
      </ul>

      <br />

      <B>Informations:</B>
      <ul>
        <li><B>Téléphone:</B> 06 67 87 99 29</li>
        <li><B>Email:</B> inesmode06&#64;gmail.com</li>
      </ul>

      <h3>- Projet professionnel</h3>
      <p>
        Professionnellement, mon objectif serait de devenir développeuse de jeux
        vidéos ou de logiciels.
      </p>
      <p>
        Après l'optention de mon <b>BTS SIO - BAC+2</b>, je prévois de
        poursuivre mon cursus vers un
        <b
          >Bachelor informatique - Développement des applications et
          Logiciels</b
        >
        en 3eme année, puis continuer vers un master dans cette même filière.
      </p>
      <p>
        L'ensemble de cette formation est dispensé à l'école
        <b>Efficom Lille</b>.
      </p>

      <p>
        Je souhaite continuer ma formation par le biais de l'apprentissage en
        alternance, ce qui me permettra:
        <li>
          D’acquérir une expérience professionnelle, et de pouvoir confronter
          mes connaissances théoriques aux besoins pratiques d'une entreprise.
        </li>
        <li>
          Le monde de l’entreprise est toujours en mouvement, l’alternance offre
          la possibilité de participer à la construction et au développement de
          nouveaux projets d’innovation et de pilotage de la performance,
          notamment en participant à la mise en œuvre et à l’exploitation des
          logiciels.
        </li>
      </p>

      <p>
        Je mettrai à disposition de l'entreprise mes compétences, mon
        investissement et ma motivation.
      </p>

      <a href="CV_Ines.pdf" download=""
        ><button>📥 Télécharger mon CV</button></a
      >
      <a href="CV_Ines.pdf" target="_blank"
        ><button>📝 Afficher mon CV</button></a
      >
    </section>

    <div class="section">
      <section id="resume">
        <h2>Parcours</h2>
        <i>Mon parcours académique et mes différentes formations.</i>

        <h3>Cursus scolaire</h3>

        <section id="ligne">
          <h4>BTS SIO</h4>
          <h6>2023 - A ce jour</h6>
          <p>BTS SIO - Option SLAM</p>
          <p>LYCEE LEONARD DE VINCI (77 - MELUN)</p>

          <h4>LYCEE GENERAL</h4>
          <h6>2020 - 2023</h6>
          <p>Bac Général - Spécialités Maths/LLCE Anglais</p>
          <p>Cambridge B2</p>
          <p>LYCEE SONIA DELAUNAY (77 - CESSON)</p>

          <h4>COLLEGE</h4>
          <h6>2016 - 2020</h6>
          <p>COLLEGE JEAN VILAR (77 - VERT ST DENIS)</p>
        </section>
      </section>
    </div>

    <div class="section">
      <section id="stages">
        <h2>Stages</h2>
        <i
          >Expériences professionnelles et stages réalisés au cours de ma
          formation.</i
        >

        <section id="ligne">
          <div class="project-card">
            <h4>STAGE IP CONSULTING</h4>
            <h6>21/05/2024 au 29/06/2024</h6>
            <p><i>Stage BTS SIO de première année.</i></p>
            <p>Stage suivi dans l'entreprise IP Consulting en distanciel:</p>
            <ul>
              <li>Création de petits sites non achevés</li>
              <li><B>Technologies utilisées:</B> Wordpress</li>
            </ul>

            <br />

            <p><B>Adresse: </B>16 rue de la Gaudrée, 91410, Dourdan</p>
            <p><B>Numéro de téléphone: </B>06 95 69 68 37</p>
          </div>

          <br />

          <div class="project-card">
            <h4>STAGE JORDAN JUVENTIN</h4>
            <h6>06/01/2025 au 14/02/2025</h6>
            <p><i>Stage BTS SIO de deuxième année.</i></p>
            <p>Stage suivi dans l'entreprise Jordan Juventin en distanciel:</p>
            <ul>
              <li>Développement web d'un site pour un refuge animalier</li>
              <li>
                <B>Technologies utilisées:</B> HTML, CSS, Twig, Symfony, PHP,
                Trello
              </li>
            </ul>

            <br />

            <p>
              <B>Adresse: </B>23 bus, rue du Président Poincaré, 77220, Tournan
              en Brie
            </p>
            <p><B>Numéro de téléphone: </B>06 74 56 12 49</p>
          </div>
        </section>
      </section>
    </div>

    <div class="section">
      <section id="skills">
        <h2>Compétences</h2>
        <p>
          Au cours de mon cursus, j'ai pu acquérir différentes compétences qui
          me seront bénéfiques pour la suite de mes études.
        </p>
        <p>
          J'y ai appris différents languages de programmation ainsi que la
          capacité à utiliser différents logiciels.
        </p>
        <B>Différentes compétences informatiques:</B>

        <h5>Hard skills</h5>
        <ul>
          <li><i>Back-end:</i> PHP, Kotlin, Python</li>
          <li><i>Front-end:</i> HTML, CSS, JS, Bootstrap, Angular</li>
          <li><i>Data Base:</i> MySQL (avec MariaDB)</li>
          <li><i>Autres:</i> VS code, Intellij</li>
        </ul>

        <B>Compétences supplémentaires:</B>
        <p>Je suis actuellement en train de passer le TEOIC.</p>
      </section>
    </div>

    <div class="section">
      <section id="project">
        <h2>Projets</h2>
        <i>Projets réalisés durant ma formation.</i>

        <div class="projects-container">
          <div class="project-card">
            <img src="aventure.png" alt="Projet 1" />
            <h3>Projet 1 : Kotlin Aventure</h3>
            <p>Application back-end développée en Kotlin.</p>
            <br />
            <a href="/aventure" class="btn">Voir le projet</a>
          </div>
          <div class="project-card">
            <img src="API.png" alt="Projet 2" />
            <h3>Projet 2 : SAP-API</h3>
            <p>Application back-end développée en Kotlin et MariaDB.</p>
            <a href="/savon-api" class="btn">Voir le projet</a>
          </div>
          <div class="project-card">
            <img src="SavApp.jpeg" alt="Projet 3" />
            <h3>Projet 3 : SAP-Front</h3>
            <p>Application cliente développée avec les standards du front.</p>
            <a href="/savon-app" class="btn">Voir le projet</a>
          </div>
        </div>
      </section>
    </div>

    <div class="section">
      <section id="veille">
        <h2>Veille Technologique</h2>
      </section>
    </div>

    <div class="section">
      <section id="contact">
        <h2>Contact</h2>
        <p>
          N’hésitez pas à me contacter pour toutes questions ou renseignements
          supplémentaires via ce formulaire.
        </p>

        <div class="social-buttons">
          <a
            href="https://www.instagram.com/ine_s.myn?igsh=Y2dlMHZyemR0M3dp"
            class="btn instagram"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://wa.me/0667879929"
            class="btn whatsapp"
            target="_blank"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
          <a
            href="https://linkedin.com/in/inès-m-647a60355"
            class="btn linkedin"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="mailto:inesmode@gmail.com" class="btn gmail">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
