/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #c5e5c5;
}


/**Navbar**/


.sidebar {
    width: 250px;
    height: 100vh;
    background: #111;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sidebar h2 {
    margin-top: 2.5rem;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.menu a:hover {
    color: #5c795c;
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
}


/**Content**/

.content {
    margin-left: 260px;
    padding: 20px;
}

.content h2 {
    color: #4b634b;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding-bottom: 1.2rem;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
}

.content h3 {
    color: #4b634b;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.content li {
    list-style: none;
    padding-left: 0;
}

.content li::before {
    content: "↳ ●";
    margin-right: 10px;
}

.content button {
    margin-right: 5px;
    margin-left: 30px;
    background-color: #b0b0b0; /* Couleur de fond gris */
    color: black; /* Couleur du texte */
    padding: 8px 15px; /* Espacement intérieur */
    border-radius: 12px; /* Bords arrondis */
    font-weight: bold; /* Texte en gras */
    display: inline-block; /* Pour adapter la largeur au texte */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Effet relief */
    border: 1px solid #808080; /* Bordure légère */
    font-family: Arial, sans-serif; /* Police standard */
    cursor: pointer; /* Affiche une main sur le bouton */
}


/**General**/

h1{
    color: #333;
}

p {
    margin-bottom: 1.5rem;
}

#ligne {
    border-left: 4px solid #5c795c; /* Barre verticale rouge */
    padding-left: 10px; /* Espacement entre la barre et le texte */
    color: black;
    font-family: Arial, sans-serif;
    margin-top: 0.5rem;
}

h6 {
    background-color: #b0b0b0; /* Couleur de fond gris */
    color: black; /* Couleur du texte */
    padding: 8px 15px; /* Espacement intérieur */
    border-radius: 12px; /* Bords arrondis */
    font-weight: bold; /* Texte en gras */
    display: inline-block; /* Pour adapter la largeur au texte */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Effet relief */
    border: 1px solid #808080; /* Bordure légère */
    font-family: Arial, sans-serif; /* Police standard */
    margin-top: 10px;
    margin-bottom: 10px;
}